 /* Se eu apagar tudo do index.css tenho que colocar html, body {} */
 body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  background-color: rgb(238, 243, 217);

}
.formContainer {
  font-size: 16px;
  padding: 20px;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 10px;
  background: rgb(243, 237, 237);
  width: 400px;
}

.formLabel {
  /* display: flex; */
  text-align: left;
  width: 100%; 
  margin-bottom: 10px;
} 
